<!DOCTYPE html>
{% extends 'testapp/base.html' %}
{% block body_block %}
<div class="jumbotron" style="background:blue; margin-top:100px; color:white;">
  <div class="container">
    <h1>Welcome to RAHUL EXAMS</h1>
    <ul>
      <li>
        <h3>Rule-1:You should login first</h3>
      </li>
      <li>
        <h3>Rule-2:All questions are compulsory</h3>
      </li>
      <li>
        <h3>Rule-3:There is no any negative marking</h3>
      </li>
      <li>
        <h3>Rule-4:Python exam is best and easy exam</h3>
      </li>
      <li>
        <h3>Rule-5:JAVA exam is best and little bit difficult exam</h3>
      </li>
      <li>
        <h3>Rule-6:Aptitude exam is for freshers....</h3>
      </li>
    </ul>
  </div>
</div>
{% endblock %}
