<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/demoform.css" %}">
    <meta charset="utf-8">
    <title>Student Registration Form</title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <form class="" method="post" align='center'>
          <h1>Student Registration Form</h1>
          {{form.as_p}}
          {% csrf_token %}
          <input type="button" class='btn btn-primary' name="" value="Register">
        </form>
      </div>
    </div>
  </body>
</html>
