<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>DJANGO ORM</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <div class="jumbotron" style="background:purple;color:white;">
        <h1>Test Different DJANGO ORMs</h1>
        <hr>
        <a href="/testapp/displayall" class="btn btn-sm btn-info">Display All Records</a>&nbsp&nbsp&nbsp&nbsp
        <a href="/testapp/displaygt" class="btn btn-sm btn-info">Display Filtered Records</a>&nbsp&nbsp&nbsp&nbsp
        <a href="/testapp/displayfieldlookup" class="btn btn-sm btn-info">Display Records Using FieldLookup</a>&nbsp&nbsp&nbsp&nbsp
        <a href="/testapp/displayorview" class="btn btn-sm btn-info">Display Records Using OR i.e. |</a><br><br>
        <a href="/testapp/displayandview" class="btn btn-sm btn-info">Display Records Using AND i.e. &</a>&nbsp&nbsp&nbsp&nbsp
        <a href="/testapp/displaynotview" class="btn btn-sm btn-info">Display Records Using NOT i.e. ~</a>&nbsp&nbsp&nbsp&nbsp
        <a href="/testapp/displayinview" class="btn btn-sm btn-info">Display Records Using in</a>&nbsp&nbsp&nbsp&nbsp
        <a href="/testapp/displayunionview" class="btn btn-sm btn-info">Display Records Using Union</a><br><br>
        <a href="/testapp/aggregateview" class="btn btn-sm btn-info">Display Records Using Aggregate</a>&nbsp&nbsp&nbsp&nbsp
        <a href="/testapp/ascendingview" class="btn btn-sm btn-info">Display Records Ascending</a>&nbsp&nbsp&nbsp&nbsp
        <a href="/testapp/descendingview" class="btn btn-sm btn-info">Display Records Descending</a>&nbsp&nbsp&nbsp&nbsp
        <a href="/testapp/customrangeview" class="btn btn-sm btn-info">Display Custom Salary Range</a><br><br>
        <a href="/testapp/customsortview" class="btn btn-sm btn-info">Display Custom Sort</a>&nbsp&nbsp&nbsp&nbsp
      </div>
    </div>
  </body>
</html>
