<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <style media="screen">
      h1{
        color:red;
      }
      h2{
        color:green;
      }
      span{
        color:orange;
      }
    </style>
    <meta charset="utf-8">
    <title>Template Project</title>
  </head>
  <body>
    <h1>Hello <span>HRIDHAN</span> This Template is Second Hero of DJango!!!!</h1>
    <h2>This response is coming from template file!!!!</h2><hr>
    <h2>Current Server time is : <span>{{current_datetime}}</span></h2>
  </body>
</html>
