<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Pune Jobs</title>
  </head>
  <body>
    <h1>Pune Jobs Information</h1>
    <hr>
    {% if pune_jobs %}
    <table>
      <thead>
        <th>DATE</th>
        <th>COMPANY</th>
        <th>TITLE</th>
        <th>ELIGIBILITY</th>
        <th>ADDRESS</th>
        <th>EMAIL</th>
        <th>PHONENUMBER</th>
      </thead>
      {% for job in pune_jobs %}
      <tr>
        <td>{{job.date}}</td>
        <td>{{job.company}}</td>
        <td>{{job.title}}</td>
        <td>{{job.eligibility}}</td>
        <td>{{job.address}}</td>
        <td>{{job.email}}</td>
        <td>{{job.phonenumber}}</td>
      </tr>
      {% endfor %}
    </table>
    {% else %}
    <p>No Record found for Pune Jobs</p>
    {% endif %}
  </body>
</html>
