<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static "css/advtemp.css" %}">
  <meta charset="utf-8">
  <title></title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #7952b3;">
    <div class="container">
      <a class="navbar-brand" href="#"><img src="{% static "images/communication.png" %}" alt="soon...." width="25" height="25" title="Bootstrap"> RAHUL NEWS</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/testapp">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/testapp/sports">Sports</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/testapp/movies">Movies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/testapp/politics">Politics</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  {% block body_block %}

  {% endblock %}
</body>

</html>
